@import "tailwindcss";

body {
  -webkit-font-smoothing: antialiased;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
